#주석가능하긴한데 예약어로 쓰인 것들은 적으면 안됩니다. 예약어 기준으로 파싱합니다.
#얌체같이 파싱했습니다.
#로케이션 중에 루트 로케이션 ( / ) 는 사용하지 않더라도반드시 필요합니다. 제발 써주세요.

server
{
	server_name default
	listen 8180 127.0.0.1			# 7번라인 8번라인 반드시 연달아와야합니다. 만약 서버네임을 입력하고 싶지 않다면, 7번라인 값에 NONE 을 입력합니다. (그래도 8번라인은 필요합니다.)

	location /						# / 로케이션은 반드시 존재해야합니다. (디폴트서버)
	{
		error_page 404 ./tests/test1/error404.html
		error_page 405 ./tests/test1/error405.html
		allow_methods GET POST DELETE
		root ./tests/test1/
		index index.html index2.html
		auto_index on
		cgi_info .php ./tests/tester_bin/php-cgi
		cgi_info .bla ./tests/tester_bin/cgi_tester
	}
	
	location /virtual/
	{
		allow_methods GET POST DELETE
		request_max_body_size	42
		root ./tests/test1/
		index index.html index2.html
		auto_index on
		cgi_info .php	./tests/tester_bin/php-cgi
		auth_key selim:1234
	}
}

server
{
	server_name second
	listen 8181 127.0.0.1
	
	location /
	{
		allow_methods GET
		root ./tests/test1/
		index second.html
	}
}

server
{
	server_name google.com
	listen 8182 127.0.0.1

	location /
	{
		allow_methods GET
		return 301 http://google.com
	}
}